In [1]:
import pandas as pd
import datetime
import re
from time import mktime
data_file = pd.read_csv('main_task.xls')
cui = pd.read_csv('main_task.xls')

In [2]:
data_file['Price Range'].value_counts()

$$ - $$$    18412
$            6279
$$$$         1423
Name: Price Range, dtype: int64

In [3]:
len(data_file['City'].value_counts())

31

In [4]:
cui['Cuisine Style'].fillna('Other', inplace = True)
cui['Cuisine Style'] = cui['Cuisine Style'].str.strip('[')
cui['Cuisine Style'] = cui['Cuisine Style'].str.strip(']')
cui['Cuisine Style'] = cui['Cuisine Style'].str.replace('\'','')
cui['Cuisine Style'] = cui['Cuisine Style'].str.split(',')

In [5]:
data_file['Cuisine Style'] = cui['Cuisine Style']
data_file = data_file.explode('Cuisine Style')
data_file = pd.get_dummies(data_file, columns=['Cuisine Style'], prefix='', prefix_sep='')

In [6]:
cui

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"[European, French, International]",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,[Other],1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"[Japanese, Sushi, Asian, Grill, Vegetarian...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,[Other],3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"[German, Central European, Vegetarian Friendly]",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"[Italian, Vegetarian Friendly, Vegan Options...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414
39996,id_6340,Paris,"[French, American, Bar, European, Vegetari...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036
39997,id_1649,Stockholm,"[Japanese, Sushi]",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615
39998,id_640,Warsaw,"[Polish, European, Eastern European, Centra...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838
39999,id_4824,Milan,[Spanish],4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020

City

In [7]:
data_file = pd.get_dummies(data_file, columns=['City'], prefix='', prefix_sep='')

In [8]:
pattern = re.compile("\d+\/\d+\/\d+")
df = data_file.copy()
df['date_rev'] = df['Reviews'].apply(pattern.findall)
df['date_rev'] = df['date_rev'].apply(
    lambda x: [x[-2], x[-1]] if len(x) >= 3 else x)
df['rev_1'] = df['date_rev'].apply(lambda x: x[0] if len(x) >= 1 else None)
df['rev_2'] = df['date_rev'].apply(lambda x: x[1] if len(x) == 2 else None)
df['rev_1'] = pd.to_datetime(df['rev_1'])
df['rev_2'] = pd.to_datetime(df['rev_2'])
print('Самая свежая дата', df[['rev_1', 'rev_2']].max().max())
print('Самая ранняя дата', df[['rev_1', 'rev_2']].min().min())
max_days = abs(df['rev_1'] - df['rev_2']).max()
print('Количество дней', max_days)

Самая свежая дата 2018-02-26 00:00:00
Самая ранняя дата 2004-04-21 00:00:00
Количество дней 3207 days 00:00:00

Ценовая категория

In [9]:
def price(x):
    if x == '$$ - $$$':
        x = 2
    elif x =='$':
        x = 1
    else:
        x = 3
    return x
data_file['Price Range'] = data_file['Price Range'].apply(price)

Reviews

In [10]:
data_file['days'] = abs(df['rev_1'] - df['rev_2']).dt.days
data_file['days'].fillna(data_file['days'].mean(),inplace = True)
df['rev_1'].fillna(df['rev_1'].mean(),inplace = True)
df['rev_1'] = df['rev_1'].apply(lambda x: mktime(x.timetuple()))
df['rev_2'].fillna(df['rev_2'].mean(),inplace = True)
df['rev_2'] = df['rev_2'].apply(lambda x: mktime(x.timetuple()))
data_file['rev_1'] = df['rev_1']
data_file['rev_2'] = df['rev_2']

In [11]:
data_file.drop(['Restaurant_id','Reviews', 'URL_TA', 'ID_TA'],axis = 1,inplace = True)
data_file['Ranking'].fillna(data_file['Ranking'].mean(),inplace = True)
data_file['Rating'].fillna(data_file['Rating'].mean(),inplace = True)
data_file['Number of Reviews'].fillna(data_file['Number of Reviews'].mean(),inplace = True)
data_file

,Ranking,Rating,Price Range,Number of Reviews,Afghani,African,Albanian,American,Arabic,Argentinean,...,Paris,Prague,Rome,Stockholm,Vienna,Warsaw,Zurich,days,rev_1,rev_2
0,5570.0,3.5,2,194.0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,41.0,1.514668e+09,1.511125e+09
0,5570.0,3.5,2,194.0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,41.0,1.514668e+09,1.511125e+09
0,5570.0,3.5,2,194.0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,41.0,1.514668e+09,1.511125e+09
1,1537.0,4.0,3,10.0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,382.0,1.499288e+09,1.466284e+09
2,353.0,4.5,3,688.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.0,1.515359e+09,1.515186e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39998,641.0,4.0,2,70.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,23.0,1.499720e+09,1.497733e+09
39998,641.0,4.0,2,70.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,23.0,1.499720e+09,1.497733e+09
39998,641.0,4.0,2,70.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,23.0,1.499720e+09,1.497733e+09
39998,641.0,4.0,2,70.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,23.0,1.499720e+09,1.497733e+09
39999,4827.0,3.0,2,260.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1306.0,1.454188e+09,1.341349e+09

In [12]:
RANDOM_SEED = 42

In [13]:
X = data_file.drop(['Rating'], axis = 1)  
y = data_file['Rating']  
      
    # Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split  
      
    # Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
    # Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [14]:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели  
      
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
  
    # Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
      
    # Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.  
    # Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

In [15]:
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.09011878431970709